@model Demo.Model.Admin.Widget.WidgetIndexModel
<div class="col-xs-12">
    <div class="panel panel-default">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Tên Widget</th>
                        <th>Vị trí</th>
                        <th style="width: 90px;">Kích hoạt</th>
                        <th>Người tạo</th>
                        <th>Ngày tạo</th>
                        <th style="width: 170px;">Thao tác</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Results)
                    {
                        <tr>
                            <td>
                                <a href="@Url.Action("editwidget", "admin", new { id = item.Id })">@item.Title</a>
                            </td>
                            <td>@item.Position.GetDescription()</td>
                            <td class="text-center"><i class="icon-check @(item.IsActive ? "text-success" : "text-muted")"></i></td>
                            <td>@item.CreatedUser</td>
                            <td>@item.CreatedDate.ToShortDateTimeString()</td>
                            <td style="text-align: center;">
                                @if (SessionHelper.HasPermission(FunctionType.WidgetCreate))
                                {
                                    <a href="@Url.Action("copywidget", "admin", new { id = item.Id })" class="text-info"><i class="fa fa-copy"></i>&nbsp;Copy</a><text>&nbsp;|&nbsp;</text>
                                }
                                @if (SessionHelper.HasPermission(FunctionType.WidgetDelete))
                                {
                                    <a href="javascript:;" class="text-danger" onclick="comdy.widget.delete('@item.Id');"><i class="fa fa-trash-o"></i>&nbsp;Xóa</a>
                                }
                            </td>
                        </tr>
                    }
                    @Html.DisplayFor(a => Model.Results.Count, "_NoData")
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="col-xs-12">
    @Html.PaginationFor(m => m.Paging)
</div>