@model Demo.Model.Admin.User.ChangePasswordModel
<div class="row">
    <div class="col-lg-12">
        @using (Html.BeginForm("", "", FormMethod.Post, new { @class = "form-horizontal", id = "formChangePassword" }))
        {
            @Html.ValidationSummary(string.Empty, new { @class = "note note-danger" })
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label class="col-xs-12 control-label">@Html.LabelFor(m => m.OldPassword)*</label>
                        <div class="col-xs-12">
                            @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control input-xs" })
                        </div>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="form-group">
                        <label class="col-xs-12 control-label">@Html.LabelFor(m => m.NewPassword)*</label>
                        <div class="col-xs-12">
                            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control input-xs" })
                        </div>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="form-group">
                        <label class="col-xs-12 control-label">@Html.LabelFor(m => m.ConfirmNewPassword)*</label>
                        <div class="col-xs-12">
                            @Html.PasswordFor(m => m.ConfirmNewPassword, new { @class = "form-control input-xs" })
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
